<div class="container-fluid mt-3">

  @if (projectId) {
    <app-task-list
      [projectId]="projectId"
      (onTaskClick)="taskClick($event)"
    ></app-task-list>
  } @else {
    <nz-tabset
      [(nzSelectedIndex)]="selectedView"
      (nzSelectedIndexChange)="ChangeView($event)"
    >

      <nz-tab nzTitle="All"></nz-tab>
      <nz-tab nzTitle="Open"></nz-tab>
      <nz-tab nzTitle="In Progress"></nz-tab>
      <nz-tab nzTitle="Done"></nz-tab>

    </nz-tabset>


    <div *ngIf="selectedView === 0">
      <app-task-list
        [user]="user"
        (onTaskClick)="taskClick($event)"
      ></app-task-list>
    </div>

    <div *ngIf="selectedView === 1">
      <app-task-list
        [user]="user"
        filter="open"
        (onTaskClick)="taskClick($event)"
      ></app-task-list>
    </div>
    <div *ngIf="selectedView === 2">
      <app-task-list
        [user]="user"
        filter="in_progress"
        (onTaskClick)="taskClick($event)"
      ></app-task-list>
    </div>
    <div *ngIf="selectedView === 3">
      <app-task-list
        [user]="user"
        filter="completed"
        (onTaskClick)="taskClick($event)"
      ></app-task-list>
    </div>
  }

</div>
