@if (comments.length) {
  <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.username" [nzDatetime]="getDate(item.created_at)">
        <nz-avatar nz-comment-avatar [nzText]="item.username.charAt(0).toUpperCase()"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.comment }}</p>
        </nz-comment-content>

        @if (item.user_id === user.id) {
          <nz-comment-action>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure to delete this comment?"
              nzOkText="Yes"
              nzCancelText="No"
              (nzOnConfirm)="handleDelete(item.id)"
              style="margin-right: 10px;"
            >
              <i nz-icon nzType="delete"></i>
            </a>

            <a (click)="handleEdit(item.id)">
              <i nz-icon nzType="edit"></i>
            </a>
          </nz-comment-action>
        }
      </nz-comment>
    </ng-template>
  </nz-list>
}



<nz-comment>
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="inputValue" nz-input rows="2"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button nz-button
              nzType="primary"
              nzBlock
              [nzLoading]="false"
              [disabled]="!inputValue"
              (click)="handleSubmit()"
      >
        <i nz-icon nzType="send"></i> Add Comment

      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
