<nz-list nzSize="small" [nzDataSource]="tasks" [nzLoading]="loading" [nzNoResult]="emptyTpl">
  @for (task of tasks; track task) {
    <nz-list-item style="cursor: pointer;" (click)="taskClick(task)">
      <nz-list-item-meta
        [nzTitle]="task.task_name"
        [nzDescription]="getDate(task.task_deadline)"
        [nzAvatar]="avatarTemplate"
      ></nz-list-item-meta>
      <nz-list-item-extra>
        <nz-badge [nzStatus]="getStatusType(task.task_status)" [nzText]="getStatus(task.task_status)"></nz-badge>
      </nz-list-item-extra>
    </nz-list-item>
    <ng-template #avatarTemplate>
      <span nz-icon nzType="book" nzTheme="outline"></span>
    </ng-template>
  }

  <ng-template #emptyTpl>
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl"
    >
      <ng-template #contentTpl>
        <span>
          There are no tasks assigned to you.
        </span>
      </ng-template>
    </nz-empty>

  </ng-template>

</nz-list>
