<p>Enter the user email</p>

<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 250px">
  <input type="text" [(ngModel)]="email" nz-input placeholder="input search text"/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary"
          (click)="searchUser()"
          nzSearch><span nz-icon nzType="search"></span></button>
</ng-template>


<nz-card style="width: 300px;margin-top: 16px" *ngIf="user">
  <nz-card-meta
    [nzAvatar]="avatarTemplate"
    nzTitle="{{user.email}}"
    nzDescription="{{user.username}}"
  ></nz-card-meta>

  <ng-template #avatarTemplate>
    <nz-avatar nzText="U" nzSize="large"></nz-avatar>
  </ng-template>
</nz-card>

<p>Role:</p>
<nz-select style="width: 250px" nzShowSearch nzAllowClear nzPlaceHolder="Select a role" [(ngModel)]="role">
  <nz-option nzLabel="Admin" nzValue="admin"></nz-option>
  <nz-option nzLabel="Member" nzValue="member"></nz-option>
</nz-select>

<nz-button-group>
  <button nz-button nzType="primary" [disabled]="!role" (click)="addMember()">Add Member</button>
  <button nz-button nzType="default" (click)="clear()">Clear</button>
</nz-button-group>
