<nz-header class="navbar-transparent">
  <div class="light-logo"></div>

  <ul nz-menu nzMode="horizontal">
    @for (tab of tabs; track tab.name) {
      <li nz-menu-item
          [nzSelected]="tab === selectedTab"
          [routerLink]="tab.link"
          (click)="selectedTab = tab">
        <span nz-icon [nzType]="tab.icon"></span>
        {{ tab.name }}
      </li>
    }
    <button nz-button
            class="float-end"
            nzType="text"
            nzSize="small"
            (click)="toggleTheme()">
       <span nz-icon>
         <i nz-icon nzType="arrow-up" *ngIf="chekTheme()" nzTheme="outline"></i>
         <i nz-icon nzType="arrow-down" *ngIf="!chekTheme()" nzTheme="outline"></i>
            </span>
    </button>
  </ul>


</nz-header>
