<nz-header class="navbar-transparent">
  <div class="light-logo">TaskFusion</div>

  <ul nz-menu nzMode="horizontal">
    @for (tab of tabs; track tab.name) {
      <li nz-menu-item
          [nzSelected]="tab === selectedTab"
          [routerLink]="tab.link"
          (click)="selectedTab = tab">
        <span nz-icon [nzType]="tab.icon"></span>
        {{ tab.name }}
      </li>
    }
    <button nz-button
            class="float-end"
            nzType="text"
            nz-popover
            nzPopoverPlacement="bottomRight"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
            nzSize="small">
      <nz-avatar nzIcon="user"></nz-avatar>
    </button>
    <ng-template #contentTemplate>
      <nz-list nzSize="small">
        <nz-list-item>
          <nz-list-item-meta
            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            [nzDescription]="user.username"
          >
            <nz-list-item-meta-title>
              <a>{{ user.email }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <button nz-button
                  nzType="text"
                  nzSize="small"
                  (click)="toggleTheme()">
       <span nz-icon>
         <i nz-icon nzType="arrow-up" *ngIf="chekTheme()" nzTheme="outline"></i>
         <i nz-icon nzType="arrow-down" *ngIf="!chekTheme()" nzTheme="outline"></i>
            </span>
            <span>Toggle Theme</span>
          </button>
        </nz-list-item>
        <nz-list-item>
          <button nz-button
                  nzType="text"
                  nzSize="small"
                  (click)="logout()">
            <span nz-icon nzType="logout"></span>
            <span>Logout</span>
          </button>
        </nz-list-item>
      </nz-list>
    </ng-template>
  </ul>


</nz-header>
