<nz-header class="navbar-transparent">
  <div class="light-logo"><p>TaskHarmony</p></div>

  <ul nz-menu nzMode="horizontal">
    @for (tab of tabs; track tab.name) {
      <li nz-menu-item
          [nzSelected]="tab === selectedTab"
          [routerLink]="tab.link"
          (click)="selectedTab = tab">
        <span nz-icon [nzType]="tab.icon"></span>
        {{ tab.name }}
      </li>
    }

    <!-- notifications -->
    <button nz-button
            class="float-end"
            nzType="text"
            nz-popover
            nzPopoverPlacement="bottomRight"
            nzPopoverTrigger="click"
            style="right: 50px"
            [nzPopoverContent]="notificationTemplate"
            (nzPopoverVisibleChange)="onVisibleChange($event)"
            nzSize="small">
      <nz-badge [nzCount]="notificationsCount">
        <nz-avatar nzIcon="bell"></nz-avatar>
      </nz-badge>
    </button>
    <ng-template #notificationTemplate>
      <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
       <app-notification
         [notifications]="notifications"
         (notifyChanges)="onNotifyChanges($event)"
       ></app-notification>
      </div>

    </ng-template>

    <button nz-button
            class="float-end"
            nzType="text"
            nz-popover
            nzPopoverPlacement="bottomRight"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
            nzSize="small">
      <app-user-display [imageOnly]="true" [userId]="user.id"></app-user-display>
    </button>
    <ng-template #contentTemplate>
      <nz-list nzSize="small">
        <nz-list-item>
          <nz-list-item-meta
            [nzDescription]="user.username"
          >
            <nz-list-item-meta-title>
              <a>{{ user.email }}</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <button nz-button
                  nzType="text"
                  nzSize="small"
                  (click)="viewProfile()">
            <span nz-icon nzType="user"></span>
            <span>Profile</span>
          </button>
        </nz-list-item>
        <nz-list-item>
          <button nz-button
                  nzType="text"
                  nzSize="small"
                  (click)="toggleTheme()">
            <span nz-icon>
              <i nz-icon nzType="arrow-up" *ngIf="chekTheme()" nzTheme="outline"></i>
              <i nz-icon nzType="arrow-down" *ngIf="!chekTheme()" nzTheme="outline"></i>
            </span>
            <span>Toggle Theme</span>
          </button>
        </nz-list-item>
        <nz-list-item>
          <button nz-button
                  nzType="text"
                  nzSize="small"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure to you want to logout?"
                  nzOkText="Yes"
                  nzCancelText="No"
                  (nzOnConfirm)="logout()"
          >
            <span nz-icon nzType="logout"></span>
            <span>Logout</span>
          </button>
        </nz-list-item>
      </nz-list>
    </ng-template>
  </ul>


</nz-header>
