.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.light-logo {
  width: 120px;
  height: 31px;

  //background: rgba(0, 0, 0, 0.2); /* Cambia el color de fondo para adaptarse al modo claro */
  //margin: 16px 28px 16px 0;
  float: left;
  align-content: center;
  text-align: center;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 1.3rem;
}

ul button {
  background-color: transparent;
  border: none;
  float: right;
  top: 20px;
  right: 0;
  position: absolute;
}


nz-header{
  background-color: #1C1C1C;
}

nz-header *{
  background-color: #1C1C1C;
  color: white;
}
