<router-outlet></router-outlet>

<div class="py-3 text-center">
  <div class="text-center container">
      <span>
        &copy; 2024
      </span>
    <nz-divider nzType="vertical"></nz-divider>
    <span>
        <a nz-button nzType="link" [href]="github" target="_blank">
          Github <span   nz-icon nzType="github" nzTheme="fill"></span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-button nzType="link" [href]="gitlab" target="_blank">
          Gitlab <span  id="icon" nz-icon nzType="gitlab" nzTheme="fill"></span>
        </a>
      </span>
  </div>
</div>
