

<button nz-button
        nzType="default"
        (click)="openCreateTaskModal()"
        [disabled]="!canCreate"
        style="margin-bottom: 16px"
>Create Task</button>
<div nz-row>
  <div nz-col nzSpan="8">
    <h4 [ngStyle]="{ 'margin-bottom.px': 25 }">Open</h4>
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <nz-list nzItemLayout="horizontal">
        <div
          style="height: 100%; padding: 20px"
          cdkDropList
          #openList="cdkDropList"
          [cdkDropListData]="open"
          [cdkDropListConnectedTo]="connectedTo"
          (cdkDropListDropped)="drop($event)">
          @for (item of open; track item) {
            <nz-card cdkDrag
                     (dblclick)="openTaskDetails(item)"
                     style="margin-bottom: 8px; cursor: move;"
                     [nzActions]="[extraTemplate]"
            >
              <nz-card-meta
                [nzTitle]="item.task_name"
              ></nz-card-meta>
            </nz-card>

            <!--            allgin to the right-->
            <ng-template #extraTemplate
            >
              <nz-tag>Due: {{ item.task_deadline | date: 'shortDate' }}</nz-tag>
              <app-priority-tag
                style="margin-right: 8px"
                nz-tooltip nzTooltipTitle="Priority"
                [priority]="item.task_priority"
              ></app-priority-tag>
              <app-user-display [userId]="item.task_assignment" [imageOnly]="true"></app-user-display>
            </ng-template>
          }
        </div>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </div>

  <div nz-col nzSpan="8">
    <h4 [ngStyle]="{ 'margin-bottom.px': 25 }">In Progress</h4>
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <nz-list nzItemLayout="horizontal">
        <div
          style="height: 100%; padding: 20px"
          cdkDropList
          #inProgresList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="connectedTo"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of inProgress; track item) {
            <nz-card cdkDrag
                     (dblclick)="openTaskDetails(item)"
                     style="margin-bottom: 8px; cursor: move;"
                     [nzActions]="[extraTemplate]"
            >
              <nz-card-meta
                [nzTitle]="item.task_name"
              ></nz-card-meta>
            </nz-card>

            <!--            allgin to the right-->
            <ng-template #extraTemplate
            >
              <nz-tag>Due: {{ item.task_deadline | date: 'shortDate' }}</nz-tag>
              <app-priority-tag
                style="margin-right: 8px"
                nz-tooltip nzTooltipTitle="Priority"
                [priority]="item.task_priority"
              ></app-priority-tag>
              <app-user-display [userId]="item.task_assignment" [imageOnly]="true"></app-user-display>
            </ng-template>
          }
        </div>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </div>

  <div nz-col nzSpan="8">
    <h4 [ngStyle]="{ 'margin-bottom.px': 25 }">Completed</h4>
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <nz-list nzItemLayout="horizontal">
        <div
          style="height: 100%; padding: 20px"
          cdkDropList
          #completedList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="connectedTo"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <nz-card cdkDrag
                     (dblclick)="openTaskDetails(item)"
                     style="margin-bottom: 8px; cursor: pointer;"
                     [nzActions]="[extraTemplate]"
            >
              <nz-card-meta
                [nzTitle]="item.task_key + ' - ' + item.task_name"
              ></nz-card-meta>
            </nz-card>

            <!--            allgin to the right-->
            <ng-template #extraTemplate
            >
              <nz-tag>Due: {{ item.task_deadline | date: 'shortDate' }}</nz-tag>
              <app-priority-tag
                style="margin-right: 8px"
                nz-tooltip nzTooltipTitle="Priority"
                [priority]="item.task_priority"
              ></app-priority-tag>
              <app-user-display [userId]="item.task_assignment" [imageOnly]="true"></app-user-display>
            </ng-template>
          }
        </div>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </div>
</div>


<nz-modal [(nzVisible)]="isModalVisible"
          [nzTitle]="'Create Task'"
          nzWidth="700px"
          (nzOnCancel)="handleCancel()"
>
  <ng-template nzModalFooter
  >
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </ng-template>
  <ng-template nzModalContent>
    <app-create-task (taskCreated)="handleTaskCreated($event)"
                     [projectId]="projectId"
    ></app-create-task>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isTaskDetailsVisible"
          [nzTitle]="'Task Details'"
          nzWidth="1200px"
          (nzOnCancel)="handleTaskDetailsCancel()"
>
  <ng-template nzModalFooter
  >
    <button nz-button nzType="default" (click)="handleTaskDetailsCancel()">Cancel</button>
  </ng-template>
  <ng-template nzModalContent>
    <app-task-view [task_id]="taskId" ></app-task-view>
  </ng-template>
</nz-modal>

