.demo-infinite-container {
  height: 600px;
  //border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin: 10px;
  //width: 400px
  background-color: #1d2125;
  padding: 10px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
