<div class="container-fluid mt-3">

  @if (!isPorfile){
    <div class="d-flex justify-content-between">
      <nz-input-group [nzSize]="'default'" [nzAddOnBefore]="'Search'" style="width: fit-content; margin: 10px;">
        <input type="text" nz-input placeholder="input search text">
      </nz-input-group>

      <button
        nz-button
        nzType="primary"
        nzSize="default"
        (click)="createProject()"
        class="mt-2 mb-1"
      >Create Project
      </button>
    </div>
  }


  <nz-table #basicTable
            [nzData]="projects"
            [nzPaginationPosition]="'bottom'"
            [nzSize]="'default'">
    <thead>
    <tr>
      <th>Project Name</th>
      <th *ngIf="!isPorfile"
      >Project Key</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Start Date</th>
    </tr>
    </thead>
    <tbody>
      @if (basicTable.data.length > 0) {
        <tr *ngFor="let project of basicTable.data">
          <td class="d-flex align-items-center">
            <nz-avatar class="me-2" nzSize="default" [nzShape]="'square'"
                       [nzText]="project.project_key?.slice(0, 2)?.toUpperCase()"></nz-avatar>
            <a (click)="setProject(project)">{{ project.project_name }}</a>
          </td>
          <td *ngIf="!isPorfile"
          >{{ project.project_key }}</td>
          <td>
            <nz-tag *ngIf="project.project_status === 'active'" [nzColor]="'green'">{{ project.project_status }}</nz-tag>
            <nz-tag  *ngIf="project.project_status === 'paused'" [nzColor]="'orange'">{{ project.project_status }}</nz-tag>
            <nz-tag *ngIf="project.project_status === 'closed'" [nzColor]="'red'">{{ project.project_status }}</nz-tag>
          </td>
          <td>
            <app-user-display [imageOnly]="true" [userId]="project.project_owner_id"></app-user-display>
            {{ project.project_owner_email }}
          </td>
          <td>{{ project.project_start_date | date: 'mediumDate' }}</td>

          <td>
          </td>
        </tr>
      } @else {
        <tr>
          <td colspan="5" class="text-center">
            <nz-empty [nzNotFoundContent]="'No projects found'"></nz-empty>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>


<nz-drawer
  [nzVisible]="isVisible"
  [nzTitle]="'Create a new project'"
  [nzWidth]="600"
  [nzClosable]="false"
  (nzOnClose)="closeDrawer()"
>
  <app-create-project *nzDrawerContent
                      (projectCreated)="onProjectCreated($event)"></app-create-project>
</nz-drawer>

