<nz-layout class="container-fluid mt-3">

  <nz-content>

    <div>
      <h3 nz-typography>Recent Projects
        <button routerLink="" nz-button nzType="text">Show more</button>
      </h3>
      <div nz-row>
        @if (projects.length > 0) {
          @for (item of projects.slice(0, 5); track item) {
            <nz-card style="margin: 5px" nzBordered nz-col nzSpan="4">
              <nz-card-meta
                [nzTitle]="item.project_name"
                [nzAvatar]="avatarTemplate"
                [nzDescription]="item.project_key"
              ></nz-card-meta>
              <div>

              </div>
            </nz-card>
            <ng-template #avatarTemplate>
              <nz-avatar [nzText]="item.project_key" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
            </ng-template>

          }
        } @else {
          <nz-empty
            nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
            [nzNotFoundContent]="contentTpl"
            [nzNotFoundFooter]="footerTpl"
          >
            <ng-template #contentTpl>
        <span>
          There are no projects available at the moment.
        </span>
            </ng-template>
            <ng-template #footerTpl>
              <button nz-button nzType="primary">Create Now</button>
            </ng-template>
          </nz-empty>
        }
      </div>
      <!--    <nz-pagination [nzPageIndex]="1" [nzTotal]="projects.length" nzSimple></nz-pagination>-->
    </div>

    <nz-divider></nz-divider>

    <div>
      <h3 nz-typography>My Assigned tasks</h3>
      <app-tasks></app-tasks>
    </div>

  </nz-content>

</nz-layout>
