<h2>
  <span>Project Settings</span>
</h2>


@if (canEdit) {
  <button nz-button nzType="primary"
          [disabled]="hasPermission"
          (click)="enableEdit()">Edit
  </button>
}
@if (!canEdit) {
  <button nz-button nzType="primary"
          nzDanger
          style="margin-right: 8px;"
          (click)="disableEdit()">Cancel
  </button>
  <button nz-button nzType="primary" (click)="save()">Save</button>
}

<nz-table #settingsTable [nzData]="settings"
          [nzBordered]="true"
          [nzSize]="'small'"
          [nzTableLayout]="'fixed'"
          [nzShowPagination]="false"
          [nzScroll]="{ x: 'max-content' }">

  <thead>
  <tr>
    <th class="role-name-column">Role Name</th>
    <th nzWidth="20%">Read</th>
    <th nzWidth="20%">Create</th>
    <th nzWidth="20%">Delete</th>
    <th nzWidth="20%">Update</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let setting of settingsTable.data">
    <td class="role-name-column">
      <input nz-input nzBorderless [ngModel]="setting.role_name" [readonly]="canEdit"
             (ngModelChange)="setting.role_name = $event; setting.dirty = true"></td>
    <td>
      <nz-switch [(ngModel)]="setting.permissions[0].value" [nzDisabled]="canEdit"
                 (ngModelChange)="setting.dirty = true"></nz-switch>
    </td>
    <td>
      <nz-switch [(ngModel)]="setting.permissions[1].value" [nzDisabled]="canEdit"
                 (ngModelChange)="setting.dirty = !setting.dirty"></nz-switch>
    </td>
    <td>
      <nz-switch [(ngModel)]="setting.permissions[2].value" [nzDisabled]="canEdit"
                 (ngModelChange)="setting.dirty = !setting.dirty"></nz-switch>
    </td>
    <td>
      <nz-switch [(ngModel)]="setting.permissions[3].value" [nzDisabled]="canEdit"
                 (ngModelChange)="setting.dirty = !setting.dirty"></nz-switch>
    </td>
  </tr>
  </tbody>
</nz-table>
